.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: none;
  z-index: 8;


  &.dialog--show {
    display: block;
  }

  &.dialog--sm {
    width: 25%;
  }

  &.dialog--lg {
    width: 75%;
  }
  .card {
    margin-bottom: 0;
  }
}

