.header
  button(class="toggle-menu toggle" id="toggleMenu" type='button')
    i.fas.fa-bars.toggle__icon

  a(href='index.html' class="header__link header__link--condensed ")
    img(src='../../assets/images/Etqadem_Logo.svg' class="header__logo" alt='')
    img(src='../../assets/images/Etqadem_Icon_Yellow.svg' class="header__logo-sm" alt='')


  include partials/search
  include partials/notifications
