extends ../layouts/spa-layout

block title
  title player loading

block left
  .drawer.drawer--left.drawer--open.open
    include ../components/video-item-loader.pug
block content
  .loader-wrapper.loader-wrapper--fill
    .loader
