extends ../layouts/spa-layout

block title
  title Spa Page

block left
  .drawer.drawer--left.drawer--open.open
    .list
      .list__title Survey Content
      .list-item.list-item--two-lines.list-item--with-border
        .list-item__avatar
          i.fas.fa-book
        .list-item__content
          a(href="#" class="body-2 bold") Jose Portilla
          p.subtitle-2.gray Jose_Portilla@test.com
      .list-item.list-item--two-lines.list-item--with-border
        .list-item__avatar
          i.fas.fa-book
        .list-item__content
          a(href="#" class="body-2 bold") Jose Portilla
          p.subtitle-2.gray Jose_Portilla@test.com
      .list-item.list-item--two-lines.list-item--with-border
        .list-item__avatar
          i.fas.fa-user
        .list-item__content
          a(href="#" class="body-2 bold") Jose Portilla
          p.subtitle-2.gray Jose_Portilla@test.com
      .list-item.list-item--two-lines.list-item--with-border
        .list-item__avatar
          i.fas.fa-book
        .list-item__content
          a(href="#" class="body-2 bold") Jose Portilla
          p.subtitle-2.gray Jose_Portilla@test.com

block content
  .exams-questions
    section.questions-header
      .container
        .questions-header__title
          h1.title-h1 Exams Development
          .questions-header__info
            p.body-1 The only course you need to learn web development
            p.body-1 The only course you need
    .container
      .row
        .col-lg-12
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, minima, sunt?
            | Beatae blanditiis, debitis doloribus enim eveniet excepturi facere fugiat fugit
            | iure nesciunt odit perferendis rem repudiandae sed vel. Dolor!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, minima, sunt?
            | Beatae blanditiis, debitis doloribus enim eveniet excepturi facere fugiat fugit
            | iure nesciunt odit perferendis rem repudiandae sed vel. Dolor!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, minima, sunt?
            | Beatae blanditiis, debitis doloribus enim eveniet excepturi facere fugiat fugit
            | iure nesciunt odit perferendis rem repudiandae sed vel. Dolor!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, minima, sunt?
            | Beatae blanditiis, debitis doloribus enim eveniet excepturi facere fugiat fugit
            | iure nesciunt odit perferendis rem repudiandae sed vel. Dolor!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, minima, sunt?
            | Beatae blanditiis, debitis doloribus enim eveniet excepturi facere fugiat fugit
            | iure nesciunt odit perferendis rem repudiandae sed vel. Dolor!

        .col-lg-12
          button(class="btn btn--accent btn--lg") Take The Survey

