extends ../layouts/site.pug

block title
	title Surveys 

block content
	.container
		.row 
			.col-lg-8.offset-lg-2 
				section.section-header
					h3.title-h3 Survays list
					p.body-1 lorem
			.col-lg-8.offset-lg-2 
				include ../components/survey-card.pug
			.col-lg-8.offset-lg-2 
				include ../components/survey-card.pug
			.col-lg-8.offset-lg-2 
				include ../components/survey-card.pug
			.col-lg-8.offset-lg-2 
				include ../components/survey-card.pug
				
			.col-lg-12 
				include ../components/general-component/pagination.pug