html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  background-color: $bgcolor;
  //background-color: rgba($secondary, 0.02);

  &.with--overlay-full {
    .modal-overlay {
      display: block;
      position: fixed;
      z-index: 7;
    }
  }

  &.with--overlay {
    .modal-overlay {
      display: block;
      position: fixed;
      z-index: 4;
    }
  }
}

.wrapper {
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  background-color: rgba($primary-light-darkmode, 0.7);

  &.overlay--active {
    z-index: 3;
    opacity: 1;

    &.overlay--full {
      z-index: 7;
    }
  }
}

.no-scroll{
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
}

.drawers-container {
  padding-top: 60px;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  overflow: hidden;
  @media (max-width: 768px) {
    &.drawers-container--player {
      flex-direction: column-reverse;

      .drawer {
        position: inherit;
        width: 100%;
        max-width: 100%;
        height: 0;
        padding-top: 0;
      }

      .drawer.drawer--open {
        max-width: 100%;
        height: 100%;
      }
      .page{
        overflow-y: unset;
        .page__content{
          height: 100%;
        }
        .video-player{
          height: 100%;
        }
      }
    }
  }
}

::-moz-selection {
  /* Code for Firefox */
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

::selection {
  background-color: #cce2ff;
  color: rgba(0, 0, 0, 0.87);
}

.night-mode {
  body {
    background-color: #43525c;
  }
}
