.header__notification
  .dropdown.dropdown--header
    a.notification__item.dropdown__activator(href="javascript:void(0)" title='Messages')
      i.notification__icon.far.fa-envelope
      span.notification__number 3
    .dropdown__content
      .card-list
        .card__content
          .list
            .list-item.list-item--multiple.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
              .list-item__content
                span.overline
                  | lorem lorem
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-1.gray Jose_Portilla@test.com
                span.subtitle-2.gray.bold 12/3/1688
              .list-item__action
            //- .divider
            .list-item.list-item--three-lines.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
              .list-item__content
                span.overline
                  | lorem lorem
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-1.gray Jose_Portilla@test.com
              .list-item__action
            //- .divider
            .list-item.list-item--two-lines.list-item--with-border
              .list-item__avatar
                i.fas.fa-user
                //- img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
              .list-item__content
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-2.gray Jose_Portilla@test.com
              .list-item__action
            //- .divider
            .list-item.list-item--one-line.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
              .list-item__content
                a(href="#" class="body-2 bold") Jose Portilla
              .list-item__action
  .dropdown.dropdown--header.dropdown--close-on-click
    a(class="notification__item dropdown__activator" href="javascript:void(0)" title='Messages')
      i.notification__icon.far.fa-bell
      span.notification__number 3
    .dropdown__content
      .card-list
        .card__content
          .list
            .list-item.list-item--multiple.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
              .list-item__content
                span.overline
                  | lorem lorem
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-1.gray Jose_Portilla@test.com
                span.subtitle-2.gray.bold 12/3/1688
              .list-item__action
            //- .divider
            .list-item.list-item--three-lines.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
              .list-item__content
                span.overline
                  | lorem lorem
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-1.gray Jose_Portilla@test.com
              .list-item__action
            //- .divider
            .list-item.list-item--two-lines.list-item--with-border
              .list-item__avatar
                i.fas.fa-user
                //- img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
              .list-item__content
                a(href="#" class="body-2 bold") Jose Portilla
                p.subtitle-2.gray Jose_Portilla@test.com
              .list-item__action
            //- .divider
            .list-item.list-item--one-line.list-item--with-border
              .list-item__avatar
                img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
              .list-item__content
                a(href="#" class="body-2 bold") Jose Portilla
              .list-item__action
  .dropdown.dropdown--header
    img(src='../../assets/images/profile.png' alt='' class="dropdown__activator profile-link__img image image--xs-small-profile image--rounded")
    .dropdown__content
      .list.list--condensed
        .list-item.list-item--one-line
          .list-item__avatar
            img(class="image image--small-profile image--rounded" src="../../assets/images/profile.png", alt="avatar")
          .list-item__content
            a(href="#" class="body-2 bold") Jose Portilla
            p.subtitle-1.gray Jose_Portilla@test.com
        //- a(href="#" class="link") Lorem ipsum dolor
        .divider
        .list-item.list-item--one-line
          .list-item__avatar
            i.fas.fa-moon
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
          .list-item__action
            .switch
              input(id="dark-mode-toggle" type="checkbox")
              label(for="dark-mode-toggle")
        .divider
        .list-item.list-item--one-line
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
        .list-item.list-item--one-line
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
        .list-item.list-item--one-line
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
        .list-item.list-item--one-line
          .list-item__content
            a(href="#" class="body-2") Lorem ipsum
