extends ./master

block body
  include ../components/headers/spa-header
  - var classes = ['drawers-container']
  div(class=classes class=[''])
    block left
    .page
      .page__content
        block content
