//- .playlist__header-section
//- header.header--dark
.playlist-canvas
  //- .percent
  //-   p(style="display:none;") 40%
  .canvas-wrap
    .semi-circle
    span#percentage 30
  .playlist__list-item.list-item--border-bottom.p-1
.card__content
  .list
    .list-item.list-item--two-lines.list-item--with-border
      .list-item__avatar
        i.fas.fa-book
      .list-item__content
        a(href="#" class="body-2 bold") Jose Portilla
        p.subtitle-2.gray Jose_Portilla@test.com
    .list-item.list-item--two-lines.list-item--with-border
      .list-item__avatar
        i.fas.fa-book
      .list-item__content
        a(href="#" class="body-2 bold") Jose Portilla
        p.subtitle-2.gray Jose_Portilla@test.com
    .list-item.list-item--two-lines.list-item--with-border
      .list-item__avatar
        i.fas.fa-user
      .list-item__content
        a(href="#" class="body-2 bold") Jose Portilla
        p.subtitle-2.gray Jose_Portilla@test.com
    .list-item.list-item--two-lines.list-item--with-border
      .list-item__avatar
        i.fas.fa-book
      .list-item__content
        a(href="#" class="body-2 bold") Jose Portilla
        p.subtitle-2.gray Jose_Portilla@test.com

