.card.card--side-col
	img.image.preview(src='../../assets/images/sign.svg' alt='')
	.card__content
		h4.title-h4.my-0
			a.title-5(href='blog_single_view.html') Blog Title Here
		p.body-1
			| Donec eget arcu vel mauris lacinia vestibulum id eu elit. Nam metus odio, . In sit amet laoreet dolor, vitae fringilla quam interdum mollis arcu.
		p.body-2
			| category type
		a(href="#" class="btn btn--primary btn--text btn--hover-line")
			| tag #1
		a(href="#" class="btn btn--primary btn--text btn--hover-line")
			| tag #2